language: node_js
node_js:
  - "6"
sudo: false
cache:
  directories:
    - node_modules
script: "yarn coverage"
after_success:
  - yarn global add codeclimate-test-reporter;
  - codeclimate-test-reporter < coverage/lcov.info
